/* importação das fontes*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*animação suave  ao clicr no yin-yang*/
.transition {
  transition: background-color 0.5s ease, color 0.5s ease;
}
nav {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav img {
  width: 50px;
  height: 50px;
}

nav ul li {
  display: inline-block;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
  cursor: pointer;
  font-family: "Cinzel", serif;
}
ul li:hover {
  color: #dc143c;
  transition: 0.7s;
  border-bottom: 2px solid red;
}
.yin {
  color: black;
}
#yinYang:hover {
  transition: 0.5s;
  color: #c3c6ce;
  border-bottom: 2px solid black;
}

#burger {
  font-weight: 400;
  cursor: pointer;
}
#burgerItens {
  display: none;
  padding: 40px;
  height: 100vh;
}
#burgerItens ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px black;
  padding: 30px;
  transition: 2s;
  -webkit-animation: focus-in-contract-bck 1s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#burgerItens ul li:hover {
  -webkit-box-shadow: inset -19px 14px 120px 55px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -19px 14px 120px 55px rgba(0, 0, 0, 0.75);
  box-shadow: inset -19px 14px 120px 55px rgba(0, 0, 0, 0.75);
}

.img-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
}
.yin {
  display: flex;
  padding-top: 80px;
  height: 50px;
  padding-left: 20px;
}
.whiteDragon {
  height: 350px;
  width: 450;
  border-radius: 40%;
  background-repeat: no-repeat;
  background-size: cover;
}
.blackDragon {
  display: none;
  height: 350px;
  width: 450;
  border-radius: 40%;
  background-repeat: no-repeat;
  background-size: cover;
}
.products {
  display: flex;
  justify-content: space-between;
}
.text {
  padding-top: 40px;
}

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
